*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #210B32;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#container{
    background-color: #9342D1;
    width: 1680px;
    margin-left:auto;
    margin-right:auto;
}

#header{ 
    background-color:#210B32;
    color: white;
    height: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav{
    background-color: #320F4D;
    height: 90px;
    width: 70vw;
    min-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    }

#nav .selected{
        font-weight: bold;
}

.a{
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    font-size: 1.5em;
    letter-spacing: 0.5px;
    padding: 0px 10px;
}

.a:after{
    content: "";
    position: absolute;
    background-color: #9342D1;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.a:hover{
    color: #ffffff;
}

.a:hover:after{
    width:100%

}

#nav.selected{
    font-weight: bold;
}

h2{
    text-align: center;
}
#main{ 
    width: 1660px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}

#img1{
    padding: 20px;
    float: left;
}
#myBio{ 
    padding-left: 20px;
    width: 800px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
    
#footer{
    clear: both;
    background-color:#210B32;
    color: white;
    text-align: right;
    padding: 10px;
}

