body {
    background-color: white;
    font: outfit;
}

#container{
    background-color: #9342D1;
    width: 1680px;
    margin-left:auto;
    margin-right:auto;
}

#header{ 
    background-color:#210B32;
    color: white;
    text-align: center;
}

#nav{
    text-align: center;
    list-style: none; position: relative; float: left; display: block; left: 50%;
    .nav li{
        position: relative; float: left; display: block; right: 50%;
        display: inline;
        padding-left: 10px;
    }
}

#content{
    padding: 10px;
}

#footer{
    background-color:#210B32;
    color: white;
    text-align: right;
    padding: 10px;
}
